.container {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

a:link {
    color: forestgreen;
    text-decoration: none;
}
a:visited {
    color:white;
    text-underline-position: unset;
}

body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
}

footer{
    padding: 24px 20px;
    background-color: lightgreen;
}

img{
    height: 200px;
}

header{background-color: rgb(246, 10, 10);
    text-align: left;
}

nav{
    border: solid black 1px;
    padding: 16px;
}

h1{
    color: darkgreen
}


.select{
    tr:nth_child(even) {
        background-color: lightgray;
    }
}
